# Markdown
## Markdown
### Markdown
#### Markdown
##### Markdown
###### Markdown

# insert site address
[site](http://gitamstudent.gitam.edu/STUDENT/LOGIN.aspx)

# insert image
![text](https://www.sciencemag.org/sites/default/files/styles/inline__450w__no_aspect/public/dogs_1280p_0.jpg?itok=4t_1_fSJ)

# pythons Basics:
-python is a beginers language
-pyton is to learn
# creating ordered list
1. abs
2. hsdf
  1. a
  2. b

# Unordered list
. abd
. jhk
  .hjf
  .fku

## bold and italic text
** GITAM**
*GITAM*

In [1]:
# Basic HELLO WORLD
print("HELLO WORLD")

HELLO WORLD

In [2]:
# Variable creation
X=10
Y=20
X + Y

30

# Rules for variable
- name should begin eith character
- no special characters alllowed except _

In [7]:
name = input("enter name")
age = int(input("enter age"))
print("my name is :",name,"age is",age)

enter namemani
enter age20
my name is : mani age is 20

In [8]:
g = input(X)
h = input(y)
print(X+Y)

105
206
30

In [9]:
x=int(input("value of x"))
y=int(input("value of y"))
print("x+y",x+y,"x-y",x-y,"x*y",x*y,"x/y",x/y,"x%y",x%y)

value of x10
value of y20
x+y 30 x-y -10 x*y 200 x/y 0.5 x%y 10

# Fundamental data types
* Float
* int 
* complex
* boolean 
* String

In [10]:
x=10
y=12.32
z=3+4j
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>

In [12]:
c = complex(2,5)
print(c)

(2+5j)

In [14]:
c1 = 3+5j
c2 = 6+7j
print(c1+c2)
print(c1-c2)
print(c1*c2)

(9+12j)
(-3-2j)
(-17+51j)

In [18]:
a = 6
b = 7
print(a < b)
print(a > b)

True
False

In [19]:
s1 = "abc"
s2 = "dfg"
print(type(s1))
print(type(s2))

<class 'str'>
<class 'str'>

In [21]:
i = 100
print(type(i))
s1 = str(i)
print(type(s1))
f1 = float(i)
print(type(f1))

<class 'int'>
<class 'str'>
<class 'float'>

# length of the string

In [23]:
a = 1234
print(len(str(a)))

4

In [1]:
n1 =100 # single variable assignment
a = b = c =20 # multiple  variable assignment
a1,b1,c1 = 123,234,345
print(n1)
print(a,b,c)
print(a1,b1,c1)

100
20 20 20
123 234 345

# precendence of the arth operators
* parenthsis
* power
* multiplication
* addition

In [2]:
x = 1 + 2 ** 3 / 4 + 5
print(x)

8.0

In [3]:
x = 1 + 2 ** 3 /4 * 5
print(x)

11.0

# operators
## arithmetic operators
- +
- -
- *
- /
- %
- **
- //

In [4]:
a=20
b=14
print(a//b)

1

# Relational operators
- "=="
- "!="
- "<"
- ">"
- ">="
- "<="

In [5]:
x = 5
a = x>10
print(a)

False

# logical operators
- and
- or
- not

In [20]:
i = 100
i = (i>15) and (i > 76)
print(i)

True

In [21]:
# check given numbers is even or odd
n = int(input("enter a number"))
if n%2 == 0:
    print("even")
else:
    print("odd")

enter a number4
even

In [18]:
n = int(input("enter a number:"))
if n%3 == 0 and n%5 == 0:
    print("yes")
else:   
    print("no")

enter a number17
no

In [22]:
# check given number is positive or zero
# check input year is leap year or not

In [25]:
n = int(input("number"))
if n=number:
   print("positive")
elif:
   print("negative")
else:
   print("zero")

SyntaxError: invalid syntax (<ipython-input-25-3600ccf2d190>, line 2)